/* ================================
   AGRITRACE SIDEBAR
================================ */

.sidebar {
  width: 105px;
  min-width: 105px;
  height: 100vh;

  background: #ffffff;

  border-right: 1px solid #e7ebe7;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
}


/* ================================
   LOGO
================================ */

.logoSection {
  height: 90px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 4px;

  border-bottom: 1px solid #f1f3f1;
}

.logoIcon {
  font-size: 30px;
}

.logoSection span {
  font-size: 11px;

  font-weight: 700;

  color: #42b653;

  letter-spacing: 0.3px;
}


/* ================================
   NAVIGATION
================================ */

.navigation {
  flex: 1;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 10px;

  overflow-y: auto;
}


/* ================================
   MENU ITEMS
================================ */

.menuItem {
  width: 100%;
  min-height: 68px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 5px;

  text-decoration: none;

  color: #8e958e;

  font-size: 9px;

  font-weight: 600;

  text-align: center;

  position: relative;

  transition: all 0.2s ease;
}

.menuItem svg {
  transition: 0.2s ease;
}


/* Hover */

.menuItem:hover {
  background: #f4fbf5;

  color: #45b657;
}

.menuItem:hover svg {
  transform: translateY(-2px);
}


/* ================================
   ACTIVE MENU
================================ */

.active {
  color: #3eb653;

  background: #f1faf3;
}

.active::before {
  content: '';

  position: absolute;

  left: 0;
  top: 15px;

  width: 4px;
  height: 38px;

  background: #43b856;

  border-radius: 0 5px 5px 0;
}

.active svg {
  color: #43b856;
}


/* ================================
   SETTINGS
================================ */

.bottomSection {
  border-top: 1px solid #eeeeee;

  padding-bottom: 8px;

  background: white;
}


/* ================================
   SCROLLBAR
================================ */

.navigation::-webkit-scrollbar {
  width: 3px;
}

.navigation::-webkit-scrollbar-thumb {
  background: #d7ddd7;

  border-radius: 5px;
}


/* ================================
   MOBILE
================================ */

@media (max-width: 768px) {

  .sidebar {
    width: 72px;
    min-width: 72px;
  }

  .logoSection {
    height: 70px;
  }

  .logoSection span {
    display: none;
  }

  .menuItem {
    min-height: 59px;
  }

  .menuItem span {
    font-size: 7px;
  }

  .menuItem svg {
    width: 20px;
    height: 20px;
  }
}